<section class="section has-text-centered">
  <div class="container py-4">
    <h1 class="title is-spaced has-text-weight-bold">
      Do you want to know more about my personal projects?
    </h1>
    <h2 class="subtitle is-size-5-desktop">
      Here are some of the projects I have worked on in the past.
    </h2>
  </div>


  <div class="columns is-centered py-4" id="projects">
    {% for stage in site.data.projects %}
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{stage.name}}</p>
            </div>
          </div>
          <div class="content">{{stage.description}}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
