<div class="dropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon is-small">
        <i class="fas fa-lg fa-sun" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" role="menu" id="toggle-theme">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        <span class="icon is-small">
          <i class="fas fa-moon" aria-hidden="true"></i>
        </span>
        <span>Dark theme</span>
      </a>
      <a href="#" class="dropdown-item">
        <span class="icon is-small">
          <i class="fas fa-sun" aria-hidden="true"></i>
        </span>
        <span>Light theme</span>
      </a>
    </div>
  </div>
</div>
