<section class="section has-text-centered is-medium is-info is-long" id="ixicale">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths">

        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I'm Xicale. Nice to meet you</h1>

        <h2 class="subtitle is-size-5-desktop has-text-weight-normal">
          Looking back on my journey, it's been a whirlwind of innovation and growth. From designing seamless deposit processes and robust banking APIs to engineering the backend of logistics platforms that ensured every package found its way.
        </h2>

        <h2 class="subtitle is-size-5-desktop has-text-weight-normal">
          There's something magical about merging tech with the joy of life's big moments, like helping couples plan their dream day entirely online. And who could forget the thrill of venturing into the world of IoT, where every line of code meant a new way to connect and control our digital environment?
        </h2>

        <h2 class="subtitle is-size-5-desktop has-text-weight-normal">
          Each project was a chapter, filled with challenges that pushed me to learn and grow, and triumphs that reminded me why I love what I do. It's been a journey of passion, curiosity, and relentless pursuit of innovation. Here's to the next chapter!
        </h2>

      </div>
    </div>
  </div>
</section>
