<section class="section" id="background">
  <div class="container has-text-centered">
    <h1 class="title">Isaias Xicale</h1>
    {% for contact in site.data.catalog.social %}
    <a href="{{contact.url}}" target="_blank" title="{{contact.title}}">
      <figure class="image is-16x16">
        <img src="{{contact.icon}}" alt="{{contact.title}}" />
      </figure>
    </a>
    {% endfor %}
    <p class="title is-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas adipisci aut soluta reprehenderit, reiciendis voluptatum, autem similique blanditiis incidunt tempore omnis neque at. Quas natus fugiat doloremque, error ea tenetur.
    </p>

  </div>
</section>
