<section class="columns is-centered is-multiline" id="experience">
  {% for xp in site.data.experience %}
  <div class="column is-4"> 
    <div class="card">
      <div class="card-image">
        <figure class="image is-2by1">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{xp.company}}</p>
            <p class="subtitle is-6">{{xp.position}}</p>
          </div>
        </div>
        <div class="content">
          {{xp.details}}
          <br />
          <time>{{xp.time}}</time>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
