<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Fullstack Developer & Mentor</h1>
      <p class="subtitle">I code beautifully simple things, and I love what I do.</p>
      <p align="center">
        <img src="https://readme-typing-svg.herokuapp.com?size=25&color=F75C7E&center=true&vCenter=true&width=540&lines=Hey!+Xicale's+here%F0%9F%91%8B;5%2B+years+of+coding+experience;Always+learning+new+things" />
      </p>
      {% include about/social.html %}
      <figure class="image is-16by9">
        <img src="{{site.baseurl}}/assets/gifs/intro.gif" />
      </figure>
    </div>
  </div>
</section>
