<div class="fixed-grid has-auto-count">
  <div class="grid">
    {% for category in site.data.skills.categories %}
    <div class="cell">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">{{category.name}}</div>
        </div>
        <div class="card-content">
          <div class="content">
            {% for section in category.sections %}
            <div class="columns">
              <div class="column">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-title">{{section.name}}</div>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <ul>
                        {% for item in section.items %}
                        <li>{{item.name}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
